@import "https://fonts.googleapis.com/css?family=Dancing Script";
@import "https://fonts.googleapis.com/css?family=Josefin Sans";

h1,h3 {font-family: "Dancing Script"}
body, html {
  height: 100%;
}
body {min-height: 100%}

body,h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
}

p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 950px) {
  .bgimg {
    background-image: url("/static/images/DSC_9551.jpg");
    opacity: .75;
  }
  
  .name-text {
     font-size: 30px !important;
    }
    
   .header-text {
    top: 17% !important;
    left: 50% !important;
    padding: 0px 2px 0px 2px !important;
    }
}

@media screen and (min-width: 951px) {
  .bgimg {
    background-image: url("/static/images/DSC_9417.jpg");
    opacity: .75;
  }
  
 // .sideimg {
   //   background-image: url("/static/images/giphy-downsized.gif");
    //  bacground-position: right;
      //width: 25%;
    //  opacity: .95;
 // }

  .header-text {
    padding: 10px !important;
    left: 20% !important;
    background-color: rgba(250, 250, 250, .7);
  }
}

  .testw3 {
      padding-left:34% !important;
  }
  
    .heart {
      padding-bottom:-15px !important;
  }


.bgimg2 {background-image: url("/static/images/IMG_8401.jpg")}

.w3-row {
  font-family: "Josefin Sans" !important;
}
.bgimg_steal {
  //background-image: url("https://uploads-ssl.webflow.com/6332140d3680eb3ceaea84db/647ab2400d93f4f46021f40c_top-2.svg");
  background-image: url("/static/images/blue-white-gld.jpg");
  background-position: center;
  background-size: cover;
}

.bg-sage {
  //background-color: #128ae1 !important;
  color: #000 !important;  #e9cdf7
}


.bg-purple {
  background-color: #debcef !important;
  border-radius: 25px !important;
  min-width: 33% !important;
  width:33%;
  display: static;
}

.bg-gold {
  background-color: gold !important;
  border-radius: 25px !important;
}

.bg-smoky-green {
  background-color: #12e1dd !important;
  //color: #c2ab17 !important;
}

.standard-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 15% !important;
  padding-left: 15% !important;

  text-align: center;
  font-family: "Josefin Sans" !important;
}

.left-text {
  padding-left: 24px;
  text-align: left;
  font-family: "Josefin Sans" !important;
}

.center-text {
  text-align: center;
}

.first-section {
  padding-top:  40px !important;
}

.faq-main {
  height: 100% !important;
  overflow: auto !important;
}

.bullet-list {
  display: inline-block;
  text-align: left;
}

.hr-line {
  border-top-color: black !important;
  width: 50% !important;
  margin: auto;
}

.name-text {
  font-size: 38px;
  white-space: nowrap;
  font-family: "Josefin Sans";
}

.header-text {
  background-color: rgba(250, 250, 250, .7);
  padding: 0px 5px 0px 5px;
 // left: 15% !important;
 // transform:translate(0%,-50%) !important;
 // -ms-transform:translate(-0%,-50%) !important;
}
//.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
//.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.date-text {
  font-size: 28px;
  font-family: "Josefin Sans";
}


.box {
  display: flex !important;
  flex-flow: column !important;
  height: 100% !important;
}

.hotel-name {
  font-size: 20px;
  margin-bottom: 0px;
}

.hotel-details {
  margin-top:  0px;
}

.extra-margin {
  margin-bottom: 30px;
}

input[type='radio'] { 
  transform: scale(2);
  margin-right: 7px;
}

.rsvpformdiv {
  padding-bottom: 10px;
}