<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,noimageindex">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>


<div class="box">
  {% include 'newnav.html' %}
  <div class="w3-container  first-section faq-main  bgimg_steal" id="us">
 
<div class= "w3-center">
    <div class="w3-content bg-smoky-green">
  <h1>Fashion Do's and Don'ts</h3>
  <p>Click the arrows on the bottom left to navigate through the slides</p>
    </div>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQnpgKyEwmbNEHqKhzRGgG6bRaZzMVvZoSRpSydvCWJCqlK7rvutl3BIAxO8KEbXCj4uWH-NTfUNQgY/embed?start=true&loop=true&delayms=6000" frameborder="0" width="85%" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

</div>
  </div>
</div>
</body>
</html>