<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="box">
  {% include 'newnav.html' %}
  <div class="w3-container  first-section faq-main w3-grayscale-min bgimg_steal" id="us">
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Where should I stay?</h2>
        <p class="standard-text-wide">Please refer to our <a href="{{ url_for('travel') }}">lodging section</a>. For folks who do not want to stay within Olympic Valley, Tahoe City & Truckee have many lodging options. Note: transportation will not be provided from these locations and you will need to drive to the venue.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">How should I get to the venue?</h2>
        <p class="standard-text-wide">If you are staying in downtown Austin, we will be providing shuttle transportation from the Downright Austin Hotel. If you are not staying downtown we recommend taking an Uber/Lyfts to the venue as they do not allow for overnight parking.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">What is cocktail attire?</h2>
        <p class="standard-text-wide">Suits and optional tie, dresses of any length, jumpsuits. Please note, that all day of wedding events will be outside and Texas is hot. &#128526; Leave the wools at home. Please refrain from wearing orange.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Can I bring a date?</h2>
        <p class="standard-text-wide">We have a strict guest list to stay on budget. Who ever was listed on the invitation is who we are able to accommodate.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Are kids welcome?</h2>
        <p class="standard-text-wide">While we love your kids, our wedding is limited only to adults and children already included on invitations. We appreciate you making arrangements ahead of time and leaving the kids at home so you can celebrate with us.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Are there any COVID considerations to be aware of?</h2>
        <p class="standard-text-wide">Our wedding events are primarily outdoors. Please use your best judgment if you are feeling sick and take a covid test if you have symptoms, that way we can all comfortably party together on the dance floor. If you need a COVID test, we will have some on-site. Please reach out to Guy or Leah if needed.</p></br>
      </div>
  </div>
</div>
</body>
</html>
