<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,noimageindex">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="box">
  {% include 'newnav.html' %}
  <div class="w3-container  first-section faq-main  bgimg_steal" id="us">
 

      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Is there a dress code for the wedding?</h2>
        <p class="standard-text-wide">No jeans. Nothing orange. Suits (Ties optional). Longer dresses encouraged. And please do accessorize! While you're appreciating the little details of the party, we want to be able to appreciate the time you took to get ready to party with us. Boots are welcome.  Cowboy hats only if you are very serious. For further guidance, please view our <a href="{{ url_for('dresscode') }}"> <font size="+1">Hot and Not Slideshow</font></a>.</p></br>
        </div>
        
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Will it be hot?</h2>
        <p class="standard-text-wide">It's best to assume it will still be 85°F after sunset (90°+ during the day). Love and commitment are excellent ways to beat the heat, but a few other helpful products follow as well: <a target="_blank" href="https://www.hammacher.com/product/quiet-wearable-portable-fan-0#">Neck Fans</a> <a target="_blank" href="https://www.bandelettes.com/">Bandlettes</a> 
        <a target="_blank" href="https://tastesalud.com/products/la-platica">Electrolytes</a>  
        Love and committment cannot protect against ultra violet rays, so try to remember sunscreen. We will have some on site if you forget/need to reapply. 
        </p></br>
        </div>
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">How should I get to the venue?</h2>
        <p class="standard-text-wide">If you are staying in downtown Austin, we will be providing shuttle transportation from the Downright Austin Hotel. If you are not staying downtown we recommend taking an Uber/Lyft to the venue as they do not allow for overnight parking.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">What's the deal with this shuttle?</h2>
        <p class="standard-text-wide">We will be providing 2 buses (up to 90 people) to the venue departing from the  Downright Austin at 3:50pm (Arriving at Shiraz Garden ~4:50pm). If you would like to take a shuttle to the venue, please indicate so on your invitation RSVP. We will have shuttle service available for <strong>ALL</strong> guest returning to downtown Austin after the reception with an early shuttle departing around ~10:00pm and shuttles for the remaining guests at midnight (up to 100 people). </p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Where should I stay?</h2>
        <p class="standard-text-wide">Please refer to our <a href="{{ url_for('travel') }}">lodging section</a></p></br>
        </div>
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Can I bring a date?</h2>
        <p class="standard-text-wide">We have a strict guest list to stay within venue capacity. Who ever was listed on the invitation is who we are able to accommodate.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Are kids welcome?</h2>
        <p class="standard-text-wide">Only children who specifically recieved an invitation can join for the ceremony/reception, but all children are welcome to the surrounding activities! We will do our best to help coordinate babysitters if you are traveling to Austin with your little ones.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Should I rent a car while I'm in Austin??</h2>
        <p class="standard-text-wide">Renting a car could be useful if you do not plan to stay in central Austin. In the downtown/east side area where we will be spending most of our time, parking can be tricky (no towing, just very limited options) and its pretty affordable to rideshare or scooter. Its also safe to walk in all neighborhoods in Austin. A Lyft from the airport to the suggested hotels should run $28-45 depending on what time you arrive in town.</p></br>
        </div> 
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Are there any COVID considerations to be aware of?</h2>
        <p class="standard-text-wide">Our wedding events are primarily outdoors. Please use your best judgment if you are feeling sick and take a covid test if you have symptoms, that way we can all comfortably party together on the dance floor. If you need a COVID test, we will have some on-site. Please reach out to Michael or Ashleigh if needed. Masking at the wedding itself is totally acceptable if you are testing negative for Covid but want to still prevent others from coming down with a cold, etc. </p></br>
      </div>
      <div class="w3-content bg-smoky-green">
        <h2 class="w3-center">Can I post wedding photos on social media?</h2>
        <p class="standard-text-wide">You are welcome to share any images from the week publicly or in the private shared google drive we'll set up. PLEASE however do not tag anyone without explicit permission. For clarity reach out to Michael or Ashleigh.</p></br>
      </div>
            
      
  </div>
</div>
</body>
</html>
