<!DOCTYPE html>
<html>
<head>
<title>Michael And Ashleigh</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,noimageindex">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% include 'newnav.html' %}
<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min">
  <div class="w3-display-middle w3-text-black w3-center header-text">
    <h1 class="name-text">Ashleigh & Michael</h1>
    <h2 class="date-text"><b>09.21.2024</b></h2>
    <h2 class="date-text"><b>Austin, TX</b></h2>
  </div>
</header>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center bg-sage bgimg_steal" id="wedding">
    
<!-- Wedding information<script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-4d7g" class="countdown-timer" data-style="circles" data-timezone="America/Chicago" data-textcolor="#bf3434" data-date="2024-09-21 17:00" data-unitscolor="#bf3434">Countdown Timer</a>-->

  <div class="bg-sage">
    <div class="w3-row">
        <div class="w3-col m3 l3  holder"<p>&nbsp;</p></div>
        <div class="w3-col s12 m6 l6 w3-center bg-purple">
            <h1><b>Hanging Out</b></h1>
            <H2>Thursday September 19, 2024 </H2>
            <H3>Swimming and Relaxing</H3>
            <p>Barton Springs Austin, TX</p>
            <p>1:00 PM - 4:00 PM</p>
            <H3>Tacos, Dance Lessons and Two-stepping</H3>
            <p><a target="_blank" href ="https://maps.app.goo.gl/1ixHx41kyNpbYAFE7">Veracruz All Natural - Weberville Rd </a>- Austin, TX</p>
            <p>7:00 PM - 11:00 PM</p>
      </div>
       <div class="w3-col m3 l3  holder"<p>&nbsp;</p></div>
    </div>  
    </br><hr class="hr-line"></br>
    
<!--
  <div class="w3-content">
      <img src="static/images/giphy-downsized.gif" alt="bouncing heart" style="float:right; width:25%"> 
  </div>
  -->
  <div class="bg-sage">
    <div class="w3-row">
        <div class="w3-col m3 l3  holder w3-hide-small"<p>&nbsp;</p></div>
        <div class="w3-col s12 m6 l6 w3-center bg-purple">
        <h1><b>Food and Drinks</b></h1>
        <H2>Friday September 20, 2024</H2>
        <H3><u>Franklins BBQ Tailgate</u></H3>
        <p>Franklins BBQ</p>
        <p>7:15 AM - 11:30 AM</p>
        <hr class="hr-line">
        <H3><u>Welcome Drinks</u></H3>
        <p>TBD</p>
        <p>Austin, TX</p>
        <p>8:00 PM - 10:00 PM</p>
      </div>
    </div>
    <div class="w3-col m3 l3 w3-hide-small holder"<p>&nbsp;</p></div>
    </div>
    </br><hr class="hr-line"></br>
    <div class="bg-purpl"> 
    <div class="w3-row">
    <div class="w3-col m3 l3 w3-hide-small holder"<p>&nbsp;</p></div>
    <div class="w3-col s12 m6 l6 w3-center bg-purple">
    <h1><b>Wedding Day</b></h1>
        <h2>Saturday September 21, 2024</h2>
        <p>Shiraz Garden</p>
        <p>240 Johnson Rd., Bastrop, TX 78602</p>
        <p>Cocktail Hour @ 5:00 PM, Ceremony @ 6:00 PM, Reception to follow</p>
    </div>
         <div class="w3-col m3 l3 w3-hide-small w3-hide-medium w3-center heart">
              <img src="static/images/gold-heart.gif" alt="bouncing heart" style="float:center; width:60%"> 
         </div>
    </div>
    </div>
    </br><hr class="hr-line"></br>
    <div class="w3-row">
    <div class="w3-col m3 l3 w3-hide-small holder"<p>&nbsp;</p></div>
    <div class="w3-col s12 m6 l6 w3-center bg-purple">
    <h1><b>Brunch</b></h1>
        <h2>Sunday September 22, 2024</h2>
        <p>TBD, Austin, TX</p>
        <p>9:00 AM - 11:00 AM</p>
    </div>
    <div class="w3-col m3 l3 w3-hide-small holder"<p>&nbsp;</p></div>
  </div>
</div>
</div>
</body>
</html>
