<!DOCTYPE html>
<html>
<head>
<title>Things To Do</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,noimageindex">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'newnav.html' %}

<div class="w3-container w3-padding-64 bgimg_steal" id="us">
<div class="w3-content w3-padding-64 bg-smoky-green standard-text-left" id="us">
    <div style="text-align: center;">
    <img src="static/images/MandATina.jpg" alt="Cute Couple" style="width:90%;"></br></br>
    </div>
<div class="center_left">
Masterminds<br>
Exploring new cities, ski resorts, beaches<br>
Gifted playlists<br>
Grandmothers, Silly nicknames<br>
Layovers, layoffs, lay-abouts <br>
California dreaming, Texas cooking, O-H!<br> 
I-Of course love you.<br> 
Airports in Kentucky?!<br>
re-Disctricting our lives,<br> 
Even when apart, In it together<br>  

</div>
<p>
 We are not a couple by accident. Our relationship is based very much on choice, and we love nothing more than being in agreement with each other. From the first choice to get out of our house and meet at an unintimidating biker bar one January (2015) evening, to the choice to having a comedic feelings check-in via Survey Monkey on an unseasonably hot winter night 7 years later, we agree there’s nothing better than continuing to experience life together! Currently we're giving Washington, DC a go.</p>

<p> And if you didnt know, we love: frozen treats, cheering for our blind mini poodle to finish looping the block in under 30 minutes, reading the newspaper online, binge watching Olympics/Paralympics, having room to groove at a concert, days when the laundry is all put away, voting, and making plans to see family & friends.</p>


<p> We got engaged on Friday the 13th of October 2023 in Missoula Montana. Where the only cute detail Michael didnt plan was the weather, however mother nature was on our side anyway! 
We celebrated first by video-calling with each others immediate family, and then sharing craft beer and a crockpot beef stew with Michael’s proposal co-conspirators !</p>

<p> A few of our favorite playlists we've made for each other (including one that was initially a physical mix CD) are below
</p>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3RDpaXPacAZj2YP09sYYJa?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4hgwn4hTpg4zKa5kuMOOQs?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5fcGIUpedsPI28eH9DYbTD?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
</div>
</body>