<!DOCTYPE html>
<html>
<head>
<title>Things To Do</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'newnav.html' %}
<div class="w3-container w3-padding-64 bgimg_steal w3-grayscale-min" id="us">
    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center w3-content bg-solid"><b>What to do</b></h1>
      <div class="standard-text w3-container bg-solid">
        <p>We have a lot of fun activities planned for the days leading up to the main event that we hope you'll join us for. If you're inclined to venture out on your own, here are some of our other favorite spots.</p>
        <ul class="bullet-list">
          <li>Check out the award winning library! <a href="https://truckeeriverraft.com/">Truckee River Raft</a> will rent you a raft and transport you back to your car when you reach the end.</li>
          <li>Try some boots on for size. <a href="https://www.allensboots.com/">Allens</a>  on S Congress Ave, has a great selection and is where Ashleigh bought her most recent pair.</li>
          <li>Ride the <a href="https://www.palisadestahoe.com/events-and-activities/activity-finder/aerial-tram">tram<a> to the top of Palisades mountain to get great views of Lake Tahoe</li>
        </ul>
      </div>
    </div>

<div class="w3-container w3-padding-64" id="us">
    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center"><b>Where to Eat</b></h1>
      <div class="standard-text">
        <ul class="bullet-list">
          <li><a href="https://maps.app.goo.gl/1UGjpvWZmmDj3mZ1A">Franklin BBQ</a> Michael's favoite BBQ spot. We have a group outing there Thursday morning. If you go on your own, get there early! The line starts to form at 7-8AM and they open at 11.</li>
          <li>The <a href="https://www.google.com/maps/place/Rocker/@39.1965689,-120.2348742,15z/data=!4m2!3m1!1s0x0:0x77e781f9ddea081a?sa=X&ved=2ahUKEwjr7-W9puj5AhVFADQIHbE-BG8Q_BJ6BAh6EAg">Rocker</a> is right in Olympic Village is good for dinner. We love their nachos :)</li>
          <li><a href="https://www.google.com/maps/place/Jake's+On+The+Lake/@39.1723717,-120.1370594,15z/data=!4m5!3m4!1s0x0:0x3249b485b18bd61!8m2!3d39.1723717!4d-120.1370594">Jake's On The Lake</a> is a great lunch option on Lake Tahoe</li>
        </ul>
      </div>
    </div>
    </div>
</div>