<!DOCTYPE html>
<html>
<head>
<title>Things To Do</title>
<meta charset="UTF-8">
<meta name="robots" content="noindex,noimageindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'newnav.html' %}
<div class="w3-container w3-padding-64 bgimg_steal w3-grayscale-min" id="us">
    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center w3-content"><b>What to Do</b></h1>
      <div class="standard-text-wide w3-container">
        <p>We have a lot of fun activities planned for the days leading up to the main event that we hope you'll join us for. If you're inclined to venture out on your own, here are some of our other favorite spots.</p>
        <ul class="bullet-list">
          <li>The <a href="https://maps.app.goo.gl/fttKFhUSJnhwA7U59">Austin Central Library </a>is a great place to cool off or get some work done if you're <i>technically</i> still on the clock. It was awarded the best piece of architecture in the country in 2018. Also has a covered rooftop patio with views of the Colorado river!</l>
          <li>Try some boots on for size. <a href="https://www.allensboots.com/">Allens</a>  on S Congress Ave, has a great selection and is where Ashleigh bought her most recent pair.</li>
          <li>Thirfting! Austin has an immense number of thrift or vintage stores per capita. Our favorites are: <a href="https://maps.app.goo.gl/g1xowNYjhQwYqF897">Blue Velvet (vintage)<a>, 
          <a href="https://maps.app.goo.gl/hfz8sD9FMRiZL6M37">Treasure City (thrift)<a>, 
          and <a href="https://maps.app.goo.gl/LTGZd3Y8sVa9LA7G7">Room Service (decor, boots, furniture, & more)<a></li>
          <li>Dancing at the <a href="https://maps.app.goo.gl/SQxLkRuMkfwrovAA7">Broken Spoke: </a> Its a historic honkey tonk! Musicians are incredible, the dancefloor is friendly to noivces though not total newbies. Please reach out to Ashleigh if you have questions about the etiquette or ownership.</l>
        </ul>
      </div>
    </div>

    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center"><b>Where to Eat</b></h1>
    <div class="standard-text-wide w3-container">
      <p>Austin's primary food groups are Breakfast Tacos, BBQ Brisket, Topo Chico, and Titos. It might be shorter to tell ya'll where to avoid, but we'll try to stick to the highlights:</p>
        <ul class="bullet-list">
          <li><a href="https://maps.app.goo.gl/1UGjpvWZmmDj3mZ1A">Franklin BBQ</a> Michael's favoite BBQ spot. We have a group outing there Thursday morning. If you go on your own, get there early! The line starts to form at 7-8AM and they open at 11.</li>
          <li><a href="https://www.google.com/maps/place/Rocker/@39.1965689,-120.2348742,15z/data=!4m2!3m1!1s0x0:0x77e781f9ddea081a?sa=X&ved=2ahUKEwjr7-W9puj5AhVFADQIHbE-BG8Q_BJ6BAh6EAg">Koriante:</a> Everything starts as vegan until you add in toppings. Not too spicy and always quick.</li>
          <li><a href="https://maps.app.goo.gl/AJSK2SepwKuRtMhC9">Mr Natural:</a> A gluten-free friendly TexMex spot with a solid smoothie and dessert selection</li>
        <li><a href="https://maps.app.goo.gl/ACYYsDJTrqh2v528A">Nori:</a> Treat yourselves to exceptional service at the place Ashleigh chose as her last meal before moving to DC (vegan friendly, not good for big groups)</li>
        <li><a href="https://maps.app.goo.gl/bhdmBdqMcGngg9RZ7">Austin EastCiders Collabortory:</a> Ashleigh was the first bartender they ever had. This east side location has easy parking and darts. The cider is purposely not very sweet.</li>
        </ul>
      </div>
    </div>
</div>