<!DOCTYPE html>
<html>
<head>
<title>Travel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,noimageindex">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'newnav.html' %}
<div class="bgimg_steal w3-grayscale-min">
<div class="w3-container w3-padding-64" id="us">
    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center"><b>Flights</b></h1>
      <div class="standard-text">
        <p>Fly into AUS</p>
        <p>Austin-Bergstrom Airport (AUS) - 20 min taxi/drive to Downtown Austin</p>
      </div>
    </div>
</div>
<div class="w3-container w3-grayscale-min" id="us">
    <div class="w3-content bg-gold">
      <h1 class="w3-center w3-text-grey"><b>Lodging</b></h1>
      <div class="left-text">
        <p class="extra-margin">We recommend that guests stay in Downtown Austin. The wedding itself is 30 minutes away in Bastrop, TX , but most of the surrounding events will be happing in the downtown area.</p>
        <p class="extra-margin">We will be providing a shuttle to and from the wedding from the Down Right Rennaisance Hotel.</p>
        <p class="extra-margin">There are some great Airbnbs around Austin (25% of Austin home purchases are made for short-term rentals).</p>
       <!--     <div class="standard-text">
          <p class="hotel-name"><a href="https://www.hyatt.com/en-US/group-booking/RNODH/G-R0MZ">Everline Resort & Spa</a></p>
          <i>Our room block is full, but if you call to book a room and tell them you are guests of our wedding, they will give you a 10% discount. There are limited rooms left at the resort and recommend folks do this ASAP!</i>
          <p class="hotel-name"><a href="https://www.palisadestahoe.com/plan-your-visit/lodging">The Village at Palisades<a></p>
          <i>In the heart of the action with the best rates in the Village</i> 
          <p class="hotel-name"><a href="{{ url_for('static', filename='docs/plumpjack.pdf') }}">PlumpJack Inn<a></p>
          <i>A cozy and quiet hotel on the edge of the Village. Follow the instructions in the link above to book via phone to receive our event discount.</i>
        </div>
        --->
      </div>
    </div>
    </div>
</div>
</body>
