<!DOCTYPE html>
<html>
<head>
<title>Travel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,noimageindex">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'newnav.html' %}
<div class="bgimg_steal">
<div class="w3-container w3-padding-64" id="us">
    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center"><b>Flights</b></h1>
      <div class="standard-text">
        <p>Fly into AUS</p>
        <p>Austin-Bergstrom Airport (AUS) - 20 min taxi/drive to Downtown Austin</p>
      </div>
    </div>
</div>
<div class="w3-container" id="us">
    <div class="w3-content bg-smoky-green">
      <h1 class="w3-center"><b>Lodging</b></h1>
      <div class="left-text">
        <p class="extra-margin">We recommend that guests stay in Downtown Austin. The wedding itself is 30 minutes away in Bastrop, TX , but most of the surrounding events will be happening in the downtown area. We will have some hotel room blocks available and will have them posted below as soon as we have links for them.</p>
     <div class="standard-text-wide">
          <p class="hotel-name"><a target="_blank" href="https://book.passkey.com/e/50782174">Downright Austin Hotel</a></p>
          <i>We have a room block available at the Downright Austin Hotel (rooms at $250/night + taxes and fees).</i></br> 
          <strong>Note:</strong>  <i>The hotel is rennovating and rebranding so the room block site may list it as the Sheraton Downton.
        <i>We will be providing a shuttle to and from the wedding venue from this hotel.</i>
   
    <p class="hotel-name"><a target="_blank" href="https://www.airbnb.com/s/Downright-Austin--A-Renaissance-Hotel--East-11th-Street--Austin--TX--USA/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2024-03-01&monthly_length=3&monthly_end_date=2024-06-01&price_filter_input_type=0&channel=EXPLORE&query=Downright%20Austin%2C%20A%20Renaissance%20Hotel%2C%20Austin%2C%20TX&date_picker_type=calendar&checkin=2024-09-19&checkout=2024-09-22&source=structured_search_input_header&search_type=autocomplete_click&price_filter_num_nights=3&zoom_level=14&adults=4&place_id=ChIJM7DzmoO1RIYRQgxuQUyUQmA">AirBnB</a></p>
          <i>There are some great Airbnbs around Austin (25% of Austin home purchases are made for short-term rentals). A few options we thought looked nice for larger groups are below.</i></br>
        <a target="_blank" href="https://www.airbnb.com/rooms/43238009">Option 1</a>
        <a target="_blank" href="https://www.airbnb.com/rooms/14969194">Option 2</a>
        <a target="_blank" href="https://www.airbnb.com/rooms/695718136075127698">Option 3</a>
        <a target="_blank" href="https://www.airbnb.com/rooms/974761930785930443">Option 4</a>
        
       <!--     <div class="standard-text">
          <p class="hotel-name"><a href="https://www.hyatt.com/en-US/group-booking/RNODH/G-R0MZ">Everline Resort & Spa</a></p>
          <i>Our room block is full, but if you call to book a room and tell them you are guests of our wedding, they will give you a 10% discount. There are limited rooms left at the resort and recommend folks do this ASAP!</i>
          <p class="hotel-name"><a href="https://www.palisadestahoe.com/plan-your-visit/lodging">The Village at Palisades<a></p>
          <i>In the heart of the action with the best rates in the Village</i> 
          <p class="hotel-name"><a href="{{ url_for('static', filename='docs/plumpjack.pdf') }}">PlumpJack Inn<a></p>
          <i>A cozy and quiet hotel on the edge of the Village. Follow the instructions in the link above to book via phone to receive our event discount.</i>
        </div>
        --->
      </div>
    </div>
    </div>
</div>
</body>
